$positive: #387ef5 !default;

$font-family-base: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-size-base: 12px !default;
$font-size-large: 14px !default;

$line-height-base: 1.428571429 !default;
$base-background-color: #fff !default;
$base-color: #000 !default;


$link-color: $positive !default;
$link-hover-color: darken($link-color, 15%) !default;